<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#set($webRoot=$!link.getContextPath())

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>支付请求发起中...</title>
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	
	<link rel="icon" href="$!{webRoot}/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="$!{webRoot}/favicon.ico" type="image/x-icon" />

</head>

<body onload="javascript:document.forms[0].submit()">

	<form name="cmpayForm" method="post" action="$data.cmpayUrl">
		<input type="hidden" id="merId" name="merId" value="$data.payment.merId" />
		<input type="hidden" id="orderId" name="orderId" value="$data.payment.orderId" />
		<input type="hidden" id="amout" name="amout" value="$data.payment.amout" />
		<input type="hidden" id="mcode" name="mcode" value="$data.payment.mcode" />
		<input type="hidden" id="mid" name="mid" value="$data.payment.mid" />
		<input type="hidden" id="date" name="date" value="$data.payment.date" />
		<input type="hidden" id="time" name="time" value="$data.payment.time" />
		<input type="hidden" id="allowNote" name="allowNote" value="$data.payment.allowNote" />
		<input type="hidden" id="authorizeMode" name="authorizeMode" value="$data.payment.authorizeMode" />
		<input type="hidden" id="currency" name="currency" value="$data.payment.currency" />
		<input type="hidden" id="orderDate" name="orderDate" value="$data.payment.orderDate" />
		<input type="hidden" id="period" name="period" value="$data.payment.period" />
		<input type="hidden" id="periodUnit" name="periodUnit" value="$data.payment.periodUnit" />
		<input type="hidden" id="productDesc" name="productDesc" value="$data.payment.productDesc" />
		<input type="hidden" id="productId" name="productId" value="$data.payment.productId" />
		<input type="hidden" id="productName" name="productName" value="$data.payment.productName" />
		<input type="hidden" id="mobileId" name="mobileId" value="$data.payment.mobileId" />
		<input type="hidden" id="callBack" name="callBack" value="$data.payment.callback" />
		<input type="hidden" id="txntyp" name="txntyp" value="$data.payment.txntyp" />
		<input type="hidden" id="SIGN" name="SIGN" value="$data.payment.sign" />
	</form>

</body>
</html>