<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#set($webRoot=$!link.getContextPath())

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>充值交费_网上营业厅_山东移动</title>
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	
	<link rel="icon" href="$!{webRoot}/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="$!{webRoot}/favicon.ico" type="image/x-icon" />
	
	<link type="text/css" href="$!{webRoot}/css/chongzhi.css" rel="stylesheet" />
	<link type="text/css" href="$!{webRoot}/css/showLoading.css" rel="stylesheet" />
	
	<script type="text/javascript" src="$!{webRoot}/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="$!{webRoot}/js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="$!{webRoot}/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="$!{webRoot}/js/jquery.showLoading.min.js"></script>
	
	<script type="text/javascript" src="$!{webRoot}/js/util.js"></script>
    <script type="text/javascript" src="$!{webRoot}/js/payment_createAndPayOrder_portal.js"></script>
	<script type="text/javascript">
		var portalUrl = "$!{webRoot}/payment/portal.do";
		var createAndPayOrderUrl = "$!{webRoot}/payment/createAndPayOrder.do";
		var doneOrderPortalUrl = "$!{webRoot}/payment/doneOrderPortal.do";
	</script>
    
    <style type="text/css">
        .lr-lc-bluesp3 {
            background: url('$!{webRoot}/images/header_arrow_blue02.jpg') no-repeat;
            width: 41px;
            height: 35px;
        }
    </style>
</head>
<body>

<form name="paymentForm" method="post" action="" target="_blank">

<div class="contentRi">
	<div class="lr-box">
		<div class="lr-lc">
		    <div class="lr-lc-gray">1.填写号码、金额</div>
		    <div class="lf lr-lc-bluesp3"></div>
		    <div class="lr-lc-blue">2.确认并支付</div>
		    <div class="lf lr-lc-blue1"></div>
		    <div class="lr-lc-gray">3.完成</div>
		    <div class="clr">
		</div>
	</div>
		
	<div class="pay_methods">
		<div class="chongzhiInfo">
		    <table border="0" cellpadding="0" cellspacing="0">
		        <tbody>
		        <tr style="height: 10px">
		            <th scope="col">充值帐号</th>
		            <th scope="col">归属地</th>
		            <th scope="col">缴费金额</th>
		            <th scope="col">操作</th>
		        </tr>
		        <tr>
		            <td><b>$data.account</b></td>
		            <td>$data.collegeName</td>
		            <td>$data.money元</td>
		            <td><a href="javascript:void(0)" id="YHKJF_YRCZ_FHXG" onclick="btnGobakck()">返回修改</a></td>
		        </tr>
		    	</tbody>
		    </table>
		</div>
		<!--充值信息 end-->
		
		<!--支付列表 begin-->
		<div class="tit">
		    <h2>支付方式：<span class="blue" style="font-weight:100"></span></h2>
		</div>

		<div class="pay_methods_con" style="width:700px;">
		    <div class="pay_methods_box">
		        <div class="pay_list">
			        <ul class="pay_list_con">
			            <li><input name="pay_bank_id" value="100900;IPOS" id="YHKJF_YRCZ_SJZF" type="radio">
			                <label><img src="$!{webRoot}/images/bank_ipos.gif" alt="手机支付"></label>
			            </li>
			        </ul>
		        </div>
		    </div>
		</div>
		<!--支付列表 end-->
		
		<div class="lr-zc-fwt" style="display:none; color:red;" id="error_tip"></div>

		<div class="pay_btn">
			<div id="loading_panel">
				<img class="hand" alt="立即支付" src="$!{webRoot}/images/btn32.png"
					onmouseover="this.src='$!{webRoot}/images/btn32-1.png'"
					id="YHKJF_YRCZ_LJZF" onclick="btnSubmit()"
					onmouseout="this.src='$!{webRoot}/images/btn32.png'"
					height="36" width="116" />
			</div>
		</div>

	</div>
	<!--支付方式 end-->
</div>

</div>
<!--网银支付 end-->

<!--弹出页面 begin-->
<div class="zhifu" id="div_zhifu" style="display: none;text-align: left;top:-20px;_top:-200px; left:-10px;width:402px;height:220px;z-index: 1001;position: absolute">
    <div class="zhifu_tanchu"></div>
    <div class="zhifu_tanchu_box">
        <div class="zhifu_tanchu_tit">
            <h3>支付</h3>

            <div class="close_btn" onclick="closeWindow()"></div>
        </div>
        <div class="zhifu_tanchu_con">
            <dl>
                <dt>请您在新打开的页面进行支付，支付完成前请不要关闭该窗口。</dt>
                <dd style="padding-left:85px">
							<img class="hand" alt="已完成支付" src="$!{webRoot}/images/btn34.png"
								id="YHKJF_YRCZ_WCZF"
								onmouseover="this.src='$!{webRoot}/images/btn34-1.png'"
								onmouseout="this.src='$!{webRoot}/images/btn34.png'"
								onclick="completePayment()" height="25" width="86" />
							<img
								class="hand" alt="支付遇到问题"
								src="$!{webRoot}/images/btn35.png"
								onmouseover="this.src='$!{webRoot}/images/btn35-1.png'"
								id="YHKJF_YRCZ_YDWT"
								onmouseout="this.src='$!{webRoot}/images/btn35.png'"
								onclick="closeWindow()" height="25" width="97" />
				</dd>
            </dl>
        </div>
    </div>
</div>
<!--弹出页面 end-->


</form>

</body></html>