<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.h3c.college.pay.payment.dao.HelloDao">

	<resultMap type="com.baidu.foo.ssh.entity.User" id="userResultMap">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="enabled" property="enabled" />
	</resultMap>


	<select id="loadAllUsers" resultMap="userResultMap">
		select id, username, password, enabled from user
	</select>



</mapper>

