<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm.h3c.college.pay.payment.dao.LogDao">

	<resultMap id="BaseResultMap" type="cm.h3c.college.pay.payment.bo.Log">
		<id column="id" property="id" jdbcType="BIGINT" />
		<id column="order_id" property="orderId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="SMALLINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, type, create_time, content, order_id
	</sql>
	
	<select id="findByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from gy_log
		<where> 
			order_id = #{orderId, jdbcType=BIGINT}
		</where>
	</select>
	
	<select id="findByOrderIdAndType" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from gy_log
		<where> 
			order_id = #{orderId, jdbcType=BIGINT}
			and type = #{type, jdbcType=SMALLINT}
		</where>
	</select>
	
	<insert id="save"
		parameterType="cm.h3c.college.pay.payment.bo.Log"
		useGeneratedKeys="true" keyProperty="id">
		insert into gy_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			type, create_time, content, order_id
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{type, jdbcType=SMALLINT},
			now(),
			#{content, jdbcType=LONGVARCHAR},
			#{orderId, jdbcType=BIGINT},
		</trim>
	</insert>
	



</mapper>

