/*common*/
body{font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#999999}
body,form,img,p,table,tr,th,td{margin:0px;padding:0px;border:0px;}
dl,dd,dt,ul,li{list-style-position:outside;list-style-type:none;margin:0px;padding:0px;border:0px;}
h1,h2,h3,h4{margin:0px;padding:0px;border:0px;}
a:link,a:visited{text-decoration:none;}
a:active,a:hover{text-decoration:underline;}
em,cite{font-style:normal;}
textarea {resize:none;} 
img{vertical-align:middle;}
.clr{clear:both;}
.lf{float:left;}
.ri{float:right;}
.hand{ cursor:pointer}



/*top*/
#top{padding-top:2px;height:28px;background:url(../images/chongzhi_web.jpg) repeat-x top;}
.topCon{margin:0 auto;width:950px;color:#707070;}
.topCon a{color:#707070;}
.topCon_kehu{float:left;width:226px;font-weight:bold;}
.topCon_kehu li{float:left;padding-top:6px;width:113px;height:22px;text-align:center;}
.topCon_kehu li.cur{background:url(../images/chongzhi_web.jpg) 0 -32px;color:#007acb;}
.topCon_kehu li.cur a{color:#007acb;}
.topCon_info{float:left;padding:6px 0 0 16px;}
.topCon_info a{color:#0680cb;}
.topCon_info span a{color:#ee860b;}
.topCon_Ri{float:right;padding-top:6px;}

/*head*/
#head{margin:0 auto;padding-top:15px;width:950px;height:65px;position:relative;}
#head.line{border-bottom:2px solid #dfdfdf;}
#head .logo{float:left;padding:20px 0 0 190px;width:40px;height:45px;background:url(../images/logo.jpg) no-repeat;}
#head .logo span{display:block;width:40px;height:16px;background:url(../images/header_arrow.jpg) no-repeat right 6px;font-size:14px;cursor:pointer;color:#007acb;}
#head .nav{float:right;margin-top:30px;width:578px;height:35px;font-size:14px;font-weight:bold;}
#head .nav li{float:left;margin-left:2px;padding-top:10px;width:140px;height:25px;background:url(../images/chongzhi_web.jpg) no-repeat 0 -61px;text-align:center;}
#head .nav li a{color:#007acb;}
#head .nav li.cur{background:url(../images/chongzhi_web.jpg) no-repeat 0 -98px;}
#head .nav li.cur a{color:#fff;}
#head .chongzhi_buzhou{float:right;margin-top:25px;height:25px;}
#head .chongzhi_buzhou li{float:left;padding-top:5px;width:125px;height:20px;background:#dfdfdf;text-align:center;color:#666666;}
#head .chongzhi_buzhou li.arrow{padding:0px;width:18px;height:25px;overflow:hidden;}
#head .chongzhi_buzhou li.cur{background:#66a4d5;color:#fff;font-weight:bold;}

/*footer*/
#footer{padding:40px 0 0;text-align:center;line-height:25px;color:#4e4e4e;}
#footer a{color:#4e4e4e;}
#footer p span{display:inline-block;padding-left:23px;background:url(../images/fooder_ioc.jpg) no-repeat 0 3px;}

/*content*/
.content{margin:0 auto;width:950px;overflow:hidden;zoom:1;}
.content1{margin:0 auto;width:700px;overflow:hidden;zoom:1;}
.contentLf{float:left;width:200px;}
.contentRi{float:left;padding-left:10px;padding-top:10px;width:740px;}
.con_top{height:5px;background:url(../images/con_top.jpg) no-repeat;overflow:hidden;}
.con_bottom{height:5px;background:url(../images/con_bottom.jpg) no-repeat;}
.con_box{padding:15px 30px 35px;width:888px;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;overflow:hidden;}

.bz{height:22px; border-bottom:1px #cccccc solid; padding-top:23px; margin-bottom:10px}

/*支付方式*/
.pay_methods .chongzhiInfo{margin-bottom:12px; margin-top:11px}
.pay_methods .chongzhiInfo table{border-top:1px solid #dfdfdf;border-left:1px solid #dfdfdf;}

.pay_methods .chongzhiInfo table th,.pay_methods .chongzhiInfo table td{width:97px;height:23px;color:#4e4e4e;text-align:center;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;line-height:23px;}
.pay_methods .chongzhiInfo td{height:23px;text-align:center;}
.pay_methods .chongzhiInfo b{color:#fd8e08;}
.pay_methods .chongzhiInfo table td a{color:#027cc9;}

.pay_methods .tit{padding:3px 8px 8px 0;height:20px;color:#4e4e4e;overflow:hidden;zoom:1;}
.pay_methods h2{float:left;font-size:12px;}
.pay_methods .help{display:block;float:right;margin-left:10px;padding-left:21px;width:60px;height:16px;line-height:16px;background:url(../images/interrogation.png) no-repeat 0 0px;}
.pay_methods .help a{color:#027cc7;}

.pay_methods .sure_info{text-align:center;}
.pay_methods .sure_info .guanli{padding:16px 26px 14px;text-align:right;  }
.pay_methods .sure_info .guanli span{padding-left:20px;display:inline-block;height:14px;background:url(../images/icon7.png) no-repeat left;}
.pay_methods .sure_info .guanli span a{color:#027ac6;}

.pay_methods_con{margin-bottom:20px;width:865px;border:1px solid #dfdfdf;border-bottom:none;}
.pay_methods_box{padding-right:20px;border-bottom:1px solid #e0e0e0;overflow:hidden;zoom:1;position:relative;}
.pay_methods_box .pay_jian{position:absolute; top:13px; left:25px; z-index:2}
.pay_methods .pay_name{float:left;display:block;margin-right:14px;width:42px;height:50px;color:#666}
.pay_methods .pay_name h3{position:absolute;height:66px;top:50%;left:15px;margin-top:-33px;font-size:12px;font-weight:normal;}
.pay_methods .pay_name span{display:block;width:7px;height:12px;position:absolute;width:7px;height:12px;top:50%;left:41px;background:url(../images/pay_methods_arrow.jpg) no-repeat;margin-top:-6px;}
.pay_methods .pay_list{float:left;width:610px;padding-top:15px;}
.pay_methods .pay_list .pay_list_nav{height:29px;border-bottom:2px solid #ffbf75;overflow:hidden;zoom:1;}
.pay_methods .pay_list .pay_list_nav ul{float:left;width:152px;}
.pay_methods .pay_list .pay_list_nav li{float:left;padding-top:6px;width:74px;height:23px;border:1px solid #fff;border-bottom:none;font-size:12px;font-weight:bold;text-align:center;color:#666;}
.pay_methods .pay_list .pay_list_nav li.cur{background:#fffae4;border:1px solid #ffbf75;border-bottom:none;color:#fd8e0b;}
.pay_methods .pay_list .pay_list_nav .tishi{float:right;padding-top:8px;color:#999999;}
.pay_methods .pay_list_con{padding-top:10px;overflow:hidden;zoom:1; }
.pay_methods .p_top25{padding-top:30px;}
.pay_methods .pay_list_con li{float:left;padding:0 2px 5px 0;width:120px;text-align:center;}
.pay_methods .pay_list_con li a{color:#007bc8;font-weight:bold;line-height:40px;}
.pay_methods .pay_list_con li .select_input{float:left;display:block;margin:12px 5px 0 0;width:13px;}
.pay_methods .pay_list_con li .bank{float:left;border:1px solid #ddd;width:127px;height:40px;position:relative;}
.pay_methods .pay_list_con li .bank img{width:127px;height:40px;}
.pay_methods .pay_list_con li .bank span{display:block;width:27px;height:16px;text-align:center;line-height:16px;color:#fff;background:#fa8f0b;position:absolute;top:0px;right:0px;}
.pay_methods .pay_list_con li .bank em{display:block;padding-top:5px;width:129px;height:14px;text-align:center;line-height:14px;color:#fff;background:url(../images/tishi_bg.gif) no-repeat;position:absolute;bottom:-17px;left:0;font-style:normal;color:#fff;font-size:11px;}
.pay_methods .begin_btn{padding-left:355px;height:36px;}
.pay_methods .begin_btn span{float:left;padding-left:10px;display:block;width:130px;height:36px;line-height:36px;color:#fd0001;}
.pay_methods .begin_btn a{float:left;display:block;width:116px;height:36px;background:url(../images/bagin_chongzhi_btn.jpg) no-repeat;float:left;}
.pay_methods .pay_btn{margin:0px auto;width:276px;height:36px; padding-bottom:20px}
.pay_methods .pay_btn a{display:block;width:116px;height:36px;background:url(../images/chongzhi_web.jpg) no-repeat left -135px;}
.pay_methods .pay_xy{text-align:center; padding-bottom:20px; padding-top:20px}
.pay_methods .pay_tt{text-align:center; padding:20px 0}
/*签约绑定*/
.qianyue_bang{padding: 0 20px;padding-top:28px; }
.qianyue_bang p{padding-bottom:28px; color:#4e4e4e; padding-top:2px}
.qianyue_bang p b{font-size:12px;color:#ef870c;}
.qianyue_bang .tit{padding-bottom:5px;color:#4e4e4e;font-weight:bold;}
.qianyue_bang .pay_list{786px;}
.qianyue_bang .pay_list .pay_list_nav{height:29px;border-bottom:2px solid #ffbf75;overflow:hidden;zoom:1; position:relative}
.qianyue_bang .pay_list .pay_list_nav ul{float:left;width:152px;}
.qianyue_bang .pay_list .pay_list_nav li{float:left;padding-top:6px;width:74px;height:23px;border:1px solid #fff;border-bottom:none;font-size:12px;font-weight:bold;text-align:center;color:#666;}
.qianyue_bang .pay_list .pay_list_nav li.cur{background:#fffae4;border:1px solid #ffbf75;border-bottom:none;color:#fd8e0b;}
.qianyue_bang .pay_list .pay_list_nav .tishi{float:right;padding-top:8px;color:#999999;}
.qianyue_bang .pay_list_con{padding-top:10px;overflow:hidden;zoom:1;}
.qianyue_bang .qt{padding-left:25px; font-weight:bold}
.qianyue_bang .p_top25{padding-top:25px;}
.qianyue_bang .pay_list_con li{float:left;padding:0 2px 20px 0;width:155px;text-align:center;}
.qianyue_bang .pay_list_con li a{color:#007bc8;font-weight:bold;line-height:40px;}
.qianyue_bang .pay_list_con li .select_input{float:left;display:block;margin:12px 5px 0 0;width:13px;}
.qianyue_bang .pay_list_con li .bank{float:left;border:1px solid #ddd;width:127px;height:40px;position:relative;}
.qianyue_bang .pay_list_con li .bank img{width:127px;height:40px;}
.qianyue_bang .bang_btn{padding-left:240px;height:36px;overflow:hidden;zoom:1; padding-bottom:20px}
.qianyue_bang .bang_btn a{float:left;display:block;width:116px;height:36px;background:url(../images/bang_btn.jpg) no-repeat;}
.qianyue_bang .bang_btn p{float:left;padding:12px 0 0 12px;color:#656565;}


/*弹出页面==============================*/
#bg{width:100%;top:0px;left:0px;bottom:0px;position:absolute;filter:Alpha(opacity=50);opacity:0.5;background:#000;_display:none; height:100%}
.zhifu{ position:absolute; top:30%; left:35%;width:402px;height:220px;z-index: 1001 }
.zhifu .zhifu_tanchu{width:402px;height:220px;background:#4e4e4e;filter:Alpha(opacity=50);opacity:0.5;}
.zhifu .zhifu_tanchu .h210{height:210px;}
.zhifu .zhifu_tanchu_box{width:392px;height:210px;background:#fff; position:absolute; top:5px; left:5px}
.zhifu .zhifu_tanchu_tit{padding:4px 6px 0;height:22px;border-bottom:1px solid #bebebe;background:#f2f2f2;overflow:hidden;zoom:1;}
.zhifu .zhifu_tanchu_tit h3{float:left;font-size:14px;color:#2a2a2a;}
.zhifu .zhifu_tanchu_tit .close_btn{float:right;width:15px;height:15px;background:url(../images/chongzhi_web.jpg) no-repeat right -135px;cursor:pointer;}
.zhifu .zhifu_tanchu_con{padding:15px 20px 10px 20px}
.zhifu .zhifu_tanchu_con dt{padding:0 0 24px 45px;height:39px;background:url(../images/tan.png) no-repeat left 0;font-size:12px;color:#4e4e4e;line-height:24px;}
.zhifu_tanchu_con dd.btn{overflow:hidden;zoom:1;padding:0 0 50px 90px;height:25px;}
.zhifu_tanchu_con .end_btn{display:block;float:left;margin-right:9px;width:86px;height:25px;background:url(../images/tuanchu_btn.jpg) no-repeat left -27px;}
.zhifu_tanchu_con .question_btn{display:block;float:left;width:97px;height:25px;background:url(../images/tuanchu_btn.jpg) no-repeat;}
.zhifu_tanchu_con dd a{color:#007ac7;}
/*快捷支付*/
.kuaijie_zhifu{padding:18px 10px 20px 28px;width:354px;}
.kuaijie_zhifu h4{padding-bottom:10px;font-size:12px;color:#666;}
.kuaijie_zhifu .bank_box{margin-bottom:8px;width:229px;height:40px;border:1px solid #ddd;overflow:hidden;zoom:1;}
.kuaijie_zhifu .bank_box .pic{float:left;width:127px;}
.kuaijie_zhifu .bank_box .pic img{width:127px;height:40px;}
.kuaijie_zhifu .bank_box span{float:left;padding:0 5px;width:40px;height:40px;line-height:40px;color:#676767;}
.kuaijie_zhifu .btn{padding-left:70px;height:26px;overflow:hidden;zoom:1;}
.kuaijie_zhifu .pay_btn{float:left;display:block;margin-right:20px;width:77px;height:26px;background:url(../images/tuanchu_btn.jpg) no-repeat 0 -53px;}
.kuaijie_zhifu .remove_btn{float:left;display:block;width:77px;height:26px;background:url(../images/tuanchu_btn.jpg) no-repeat 0 -80px;}
.kuaijie_zhifu p{height:45px;overflow:hidden;line-height:20px;}
.kuaijie_zhifu p span{color:#f3870b;}
.kuaijie_zhifu p a{padding-left:13px;color:#017bc8;}
.kuaijie_zhifu_yindao{padding-left:46px;background:url(../images/tan.png) no-repeat left 0; }
.kuaijie_zhifu_yindao h4{padding-top:8px;font-size:12px;color:#666;}
.kuaijie_zhifu_yindao a{color:#027cc9}
.kuaijie_zhifu_yindao p{width:290px;font-size:12px;color:#9a9a9a;line-height:23px;}
/*其他银行*/
.other_bank{z-index: 1001;width:574px;margin:0 auto; height:661px; position:relative }
.other_bank .obbj{width:574px;background:#000;height:661px;opacity: 0.3;-moz-opacity:0.3;-khtml-opacity: 0.3;filter:alpha(opacity=30);  position:absolute; top:0; left:0}
.other_bank_box{background:#fff;width:544px;overflow:hidden;zoom:1; position:absolute;top:5px; left:5px; padding:10px;}
.other_bank_tit{padding:0px 2px 10px;height:22px;border-bottom:1px solid #ccc;overflow:hidden;zoom:1;}
.other_bank_tit h3{float:left;font-size:16px;color:#2a2a2a;}
.other_bank .close_btn{float:right;padding-left:18px;height:16px;background:url(../images/tuanchu_btn.jpg) no-repeat left -110px;cursor:pointer;font-size:16px;color:#0098ca;}
.other_bank .pay_list{width:550px;padding-top:15px;}
.other_bank .pay_list .pay_list_nav{height:29px;border-bottom:2px solid #ffbf75;overflow:hidden;zoom:1;}
.other_bank .pay_list .pay_list_nav ul{float:left;width:152px;}
.other_bank .pay_list .pay_list_nav li{float:left;padding-top:6px;width:74px;height:23px;border:1px solid #fff;border-bottom:none;font-size:12px;font-weight:bold;text-align:center;color:#666;}
.other_bank .pay_list .pay_list_nav li.cur{background:#fffae4;border:1px solid #ffbf75;border-bottom:none;color:#fd8e0b;}
.other_bank .pay_list .pay_list_nav .tishi{float:right;padding-top:8px;color:#999999;}
.other_bank .pay_list_con{margin-bottom:16px;padding-top:10px;overflow:hidden;zoom:1;background:url(../images/hezuo_bank_line.jpg) repeat-x bottom;}
.other_bank .p_top25{padding-top:25px;}
.other_bank .pay_list_con li{float:left;padding:0 18px 25px 20px;width:220px;cursor:pointer;}
.other_bank .pay_list_con li a{color:#007bc8;font-weight:bold;line-height:40px;}
.other_bank .pay_list_con li .select_input{float:left;display:block;margin:12px 5px 0 0;width:13px;}
.other_bank .pay_list_con li .bank{float:left;border:1px solid #ddd;width:190px;height:36px;}
.other_bank .pay_list_con li .bank:hover{border:1px solid #ffaa33;}
.other_bank .pay_list_con li .bank img{width:127px;height:36px;}
.other_bank .next_btn{padding-left:20px;width:167px;height:24px;}
.other_bank .next_btn a{display:block;width:167px;height:24px;background:url(../images/tuanchu_btn.jpg) no-repeat left -133px;}



/*充值成功================================================*/
.success{margin:50px 0 70px 202px;width:430px;}
.success .pointInfo_success,.success .pointInfo_nosuccess{margin-bottom:16px;padding-left:48px;height:39px;background:url(../images/success_ioc.png) no-repeat;font-size:14px;font-weight:bold;color:#4e4e4e;line-height:44px;}
.success .pointInfo_nosuccess{background:url(../images/success_ioc.png) no-repeat 0 -69px}
.success table{margin-bottom:16px;width:356px;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.success td{width:116px;height:36px;border:1px solid #e0e0e0;border-right:none;border-bottom:none;text-align:center;color:#4e4e4e;line-height:32px;}
.success p{padding-bottom:25px;color:#9a9a9a;line-height:22px;}
.success p span,.success p b{color:#ef8808;}
.success p a{color:#007bcb;}
.success .p_left{padding-left:73px;}
.success .continueBtn,.success .backHome,.success .repeatPayBtn,.success .repeatBang{float:left;display:block;margin-right:10px;width:77px;height:26px;background:url(../images/success_ioc.png) no-repeat 0 -41px;}
.success .backHome{background:url(../images/success_ioc.png) no-repeat 0 -167px;}
.success .repeatPayBtn{background:url(../images/success_ioc.png) no-repeat 0 -110px;}
.success .repeatBang{background:url(../images/success_ioc.png) no-repeat 0 -236px;}
.success .repeatDepositBtn{display:block;width:77px;height:26px;background:url(../images/success_ioc.png) no-repeat 0 -139px;}
.success .p140{padding-left:140px;}
.successCon{padding-left:50px;}
.successCon .pay_btn{width:116px;height:36px;}
.successCon .pay_btn a{display:block;width:116px;height:36px;background:url(../images/chongzhi_web.jpg) no-repeat left -135px;}

/*未支付*/
.weizhifu{width:740px;}
.weizhifu_con{border:1px solid #dfdfdf;border-top:none;border-bottom:none;padding:20px 20px 50px;width:698px;color:#4e4e4e;}
.weizhifu_con table{border:1px solid #dfdfdf;}
.weizhifu_con th{height:37px;line-height:37px;font-size:14px;font-weight:normal;width:87px;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.weizhifu_con td{font-size:13px;padding:10px 0 10px;height:30px;text-align:center;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.weizhifu_con td a{color:#007aca;text-decoration:underline;}
.weizhifu_con td.left{text-align:left;color:#999999;width:80px;padding-left:7px;}


.weizhifu_tit{height:35px;background:url(../images/weizhifu_tit_bg02.jpg) no-repeat right;width:740px;}
.weizhifu_tit span{display:block;background:url(../images/weizhifu_tit_bg.jpg) no-repeat;height:35px;padding:0px 21px 0;line-height:35px;font-size:14px;font-weight:bold;color:#4e4e4e;}
.weizhifu_bottom{height:5px;background:url(../images/weizhifu_bottom_pic02.jpg) no-repeat right;width:740px;}
.weizhifu_bottom span{display:block;height:5px;width:200px;background:url(../images/weizhifu_bottom_pic01.jpg) no-repeat left;}

.turnPage{padding-top:20px;text-align:right;}
.turnPage a{color:#707070;padding-left:7px;}
.turnPage a.active{color:#fe0000;}

/*登录*/
.login{ padding-top:15px}
.loginCon{margin-bottom:32px}
.loginCon .password_btn{ text-align:center; padding-bottom:15px}
.loginCon .password_btn span{padding-right:24px;}
.loginCon .password_btn input{margin:0px 6px 0 0;}
.loginCon .phone{ padding-left:52px; padding-bottom:5px}
.loginCon .phone_xiala{float:left;margin-right:3px;padding:5px 7px;width:75px;height:18px;border:1px solid #cccccc;position:relative;}
.loginCon .phone_xiala .xiala_pic{position:absolute;width:15px;height:15px;top:6px;right:7px;background:url(../images/arrow.jpg) no-repeat;}
.loginCon .phone_input{float:left;padding:0 4px;width:147px;height:28px;line-height:28px;background:url(../images/login_input_bg.jpg) repeat-x;border:1px solid #cccccc;color:#9a9a9a;}
.loginCon .phone .selectCity{float:left;margin:6px 0 0 17px;display:block;width:40px;height:16px;background:url(../images/header_arrow.jpg) no-repeat right 6px;font-size:12px;cursor:pointer;color:#007acb;}
.loginCon .tishi{margin-bottom:16px;padding-left:145px;}
.loginCon .tishi input{margin-right:6px;}
.loginCon .login_btn{margin:10px 0 10px 130px;width:118px;height:27px;background:url(../images/login_btn.jpg) no-repeat;}
.loginCon .login_btn a{display:block;width:118px;height:27px;}
.loginCon p{color:#656565; text-align:center}
.loginCon p a{color:#0278d0;}

.login dt{padding:0 0 10px 22px;background:url(../images/wenhao_ioc.jpg) no-repeat 0 3px;font-size:14px;color:#4e4e4e;}
.loginCon .web_password{padding-bottom:8px;height:32px;overflow:hidden;zoom:1; padding-left:52px}
.loginCon .web_password span{float:left;display:block;width:94px;height:32px;line-height:32px;text-align:right;}
.loginCon .web_password_input{float:left;padding:0 4px;width:147px;height:28px;line-height:28px;background:url(../images/login_input_bg.jpg) repeat-x;border:1px solid #cccccc;color:#9a9a9a;}
.loginCon .text{float:left;margin:6px 0 0 17px;display:block;width:70px;height:16px;font-size:12px;cursor:pointer;color:#007acb;}
.login dt a{margin-left:10px;font-size:12px;color:#017ac9}
.login dd{line-height:20px;font-size:12px;}
.login dd .red{color:#fc0301;}

/*kiki制作==============================================*/
.lr-tabl{background:url(../images/tab-l.png) no-repeat; height:38px; width:3px; float:left}
.lr-tabc{background:url(../images/tab-di.png) repeat-x; height:38px; float:left; padding-left:13px; width:721px}
.lr-tabc ul{margin-top:6px}
.lr-tabc li{float:left; width:82px; text-align:center; padding-top:10px; color:#4e4e4e; height:19px; border:1px #e0e0e0 solid; background-color:#f2f2f2; margin-right:5px}
.lr-tabc li.txt{border:0; background-color: transparent; text-align:right;width:98px;}
.lr-tabc li.tu{ padding-top:9px; width:8px; border:0; background-color:transparent;height:13px;}
.lr-tabc li.active{ border-left:1px #e0e0e0 solid;border-right:1px #e0e0e0 solid; background: #FFF url(../images/tab-at.png) repeat-x; height:22px; border-bottom:0; font-weight:bold; border-top:0}
.lr-tabc li.chakai{ float:right; width:100px;text-align:center;border:0; background-color: transparent}
.lr-tabc-new{position: absolute; top:0; left:155px; z-index:3; width:35px}
.lr-tabr{background:url(../images/tab-r.png) no-repeat; height:38px; width:3px; float:left}
.lr-box{border:1px #dfdfdf solid; padding:1px 15px;}
.lr-tabc-new{position: absolute; top:0; left:155px; z-index:3; width:35px}
.lr-lc{height:35px; font-size:14px; line-height:35px; padding-top:8px}
.lr-tgray{background-color:#dfdfdf; width:201px; float:left; padding-left:23px;color:#656565;text-align:center}
.lr-tgray1{ background:url(../images/header_arrow_blue02.jpg) no-repeat; width:41px; height:35px; float:left}
.lr-tblue{background-color:#66a4d5; width:201px; float:left;color:#fff;font-weight:bold; text-align:center}
.lr-tblue1{background:url(../images/header_arrow_blue.jpg) no-repeat; width:41px; height:35px; float:left}
.lr-tgray2{background-color:#dfdfdf;width:201px; float:left;color:#656565;text-align:center;}
.lr-sgray{background:url(../images/header_arrow_gary.jpg) no-repeat; width:41px; height:35px; float:left}
.lr-sgray1{background:url(../images/header_arrow_blue02.jpg) no-repeat; width:41px; height:35px; float:left}
.lr-sblue{background-color:#66a4d5; width:201px; float:left;color:#fff; font-weight:bold;text-align:center}
.lr-xblue{background-color:#66a4d5; width:201px; float:left; padding-left:23px;color:#fff;font-weight:bold; text-align:center}
.mbx{margin:0 auto;width:950px; height:28px; line-height:28px; }
.lr-lc-blue{background-color:#66a4d5; width:201px; float:left; padding-left:23px; color:#FFF; font-weight:bold;}
.lr-lc-blue1{ background:url(../images/header_arrow_blue.jpg) no-repeat; width:41px; height:35px;}
.lr-lc-blue2{background-color:#66a4d5; width:240px; float:left; padding-left:106px; color:#FFF; font-weight:bold;}
.lr-lc-gray{background-color:#dfdfdf; width:201px; float:left;color:#656565; text-align:center;}
.lr-lc-gray2{background-color:#dfdfdf; width:320px; float:left;color:#656565; text-align:center;}
.lr-lc-gray1{ background:url(../images/header_arrow_gary.jpg) no-repeat; width:41px; height:35px;}

.yuan{ width:453px; margin:0 auto}
.yuan-tabl{background:url(../images/yuan-l.png) no-repeat; height:34px; width:2px; float:left}
.yuan-tabc{background:url(../images/yuan-c.png) repeat-x; height:24px; float:left; width:449px}
.yuan-tabr{background:url(../images/yuan-r.png) no-repeat; height:34px; width:2px; float:right}
.yuan-txt{ border:1px #ccc solid; border-top:0; width:451px; background-color:#FFF}

.qh {color:#4e4e4e;}
.qh a{text-decoration:none}
.qh a:link{color:#4e4e4e;}
.qh a:visited{color:#4e4e4e;}
.qh a:hover,a:active,a:focus{color:#4e4e4e;text-decoration:underline}

.blue{color:#007bc7}
.blue a{text-decoration:none}
.blue a:link{color:#007bc7}
.blue a:visited{color:#007bc7}
.blue a:hover,a:active,a:focus{color:#007bc7;text-decoration:underline}

.red1{ color:#F00}
.fb{ font-weight:bold}
.fz14{ font-size:14px}
.tc{text-align:center;}
.pt10{ padding-top:10px}
.pl50{ padding-left:50px}















